output
fsh-generated
input-cache
temp
template
bundles
*.jar
.DS_Store
**/tests-*-bundle.json
node_modules/
outputs/*
node_modules
input/vocabulary/valueset/external/
results/*
input/tests/results/**
input/tests/*/*/*/
.vscode/
